---
layout: default
---

  <div class="content w-full md:w-4/5 p-8 h-full overflow-scroll">
      
      <div class="recipes mb-24">
          <h2 class="text-primary uppercase font-semibold mb-2">Most Recent</h2>

          <div class="grid h-full grid-cols-2 md:grid-cols-3 gap-4 md:gap-6">


            {% assign sorted = site.recipes | sort:"date" %}
              {% for post in sorted %}
                <a class="recipe" href="{{ post.url | prepend: site.baseurl }}">
                    <canvas class="aspect-video w-full rounded-xl bg-gray-100 mb-1 bg-cover bg-center"{% for image in post.image %} style="background-image:url({{site.baseurl}}/images/{{ image }});"{% endfor %}
                    >
                    </canvas>
                    <h1 class="font-semibold leading-tight">{{ post.title }}</h1>
                </a>
            {% endfor %}
               
            
          </div>
      </div>

  </div>

