---
layout: default
---

  <div class="content w-full md:w-4/5 h-full overflow-scroll pt-10 pb-20">

      <!-- Category Sections -->
      {% for category in site.data.categories %}
        {% assign category_recipes = site.recipes | where_exp: "item", "item.tags contains category" | sort: "date" | reverse %}
        {% if category_recipes.size > 0 %}
          <div class="recipes">
            <a href="{{ site.baseurl }}/search.html?tag={{ category | url_encode }}" class="block">
              <h2 class="text-xl text-primary font-gelica md:text-primary uppercase md:font-semibold mb-2 px-6 cursor-pointer">{{ category }}</h2>
            </a>

            <div class="grid grid-cols-2 md:grid-cols-3 gap-4 md:gap-6 mb-6 px-6">
              {% for post in category_recipes limit:6 %}
                {% assign first_image = "default.jpg" %}
                {% if post.image %}
                  {% if post.image contains ".jpg" or post.image contains ".jpeg" or post.image contains ".png" or post.image contains ".webp" or post.image contains ".gif" or post.image contains ".avif" %}
                    {% assign first_image = post.image %}
                  {% else %}
                    {% assign first_image = post.image | first %}
                  {% endif %}
                {% endif %}
                <a class="recipe md:hover:scale-105 md:hover:rotate-1 transition" href="{{ post.url | prepend: site.baseurl }}">
                  <img 
                    class="aspect-video w-full rounded-xl bg-gray-100 mb-1 object-cover" 
                    src="{{ site.baseurl }}/images/{{ first_image }}" 
                    loading="lazy"
                    alt="{{ post.title }}">
                  <h1 class="font-semibold leading-tight text-red-950 uppercase md:text-base md:text-orange-950 md:font-inter md:normal-case pr-16 md:pr-0">{{ post.title }}</h1>
                </a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %}

  </div>

