---
layout: default
---
<div class="content w-full md:w-4/5 h-full overflow-scroll pt-10 pb-20">

  <header class="px-6 mb-6">
    <h1 class="text-xl text-primary font-gelica md:text-primary uppercase md:font-semibold">{{ page.title }}</h1>
  </header>

  <article class="px-6 text-lg leading-normal [&>p]:mb-6 [&>h1]:text-4xl [&>h1]:font-bold [&>h1]:mb-6 [&>h1]:mt-8 [&>h2]:text-3xl [&>h2]:font-bold [&>h2]:mb-4 [&>h2]:mt-6 [&>h3]:text-2xl [&>h3]:font-semibold [&>h3]:mb-4 [&>h3]:mt-4 [&>ul]:mb-6 [&>ol]:mb-6 [&_a]:underline [&_a]:decoration-2 [&_a]:decoration-primary [&_a]:underline-offset-2">
    {{ content }}
  </article>

</div>
