---
layout: default
---

<div class="grid grid-cols-1 md:grid-cols-2 w-full" itemscope itemtype="https://schema.org/Recipe">
  

  <div class="image bg-red-500 relative aspect-video md:aspect-auto md:h-screen md:max-h-screen">

    <a href="/" class="back bg-white rounded-full block fixed top-6 md:top-10 left-6 md:left-10 p-4 md:p-6 z-50">
      <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 md:size-8">
        <path fill-rule="evenodd" d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
      </svg>
    </a>
    
    <!-- call up the image and image credit link -->
    {% if page.image %}
      {% if page.image contains ".jpg" or page.image contains ".jpeg" or page.image contains ".png" or page.image contains ".webp" or page.image contains ".gif" or page.image contains ".avif" %}
        <img 
          class="view w-full h-full object-cover" 
          src="{{ site.baseurl }}/images/{{ page.image }}"
          alt="{{ page.title }}">


        {% if page.imagecredit %}
          {% for imagecredit in page.imagecredit %}
            <a href="{{ imagecredit }}" class="absolute bottom-3 right-3 p-3 bg-white bg-opacity-50 rounded-lg">
              <svg class="js-geomicon geomicon" width="14" height="14" data-icon="camera" viewBox="0 0 32 32" style="fill:currentcolor"><title>camera icon</title><path d="M0 6 L8 6 L10 2 L22 2 L24 6 L32 6 L32 28 L0 28 z M9 17 A7 7 0 0 0 23 17 A7 7 0 0 0 9 17"></path></svg>
            </a>
          {% endfor %}
        {% endif %}
      {% else %}
        {% for image in page.image %}

          <img 
            class="view w-full h-full object-cover" 
            src="{{ site.baseurl }}/images/{{ image }}"
            alt="{{ page.title }}">


          {% if page.imagecredit %}
            {% for imagecredit in page.imagecredit %}
              <a href="{{ imagecredit }}" class="absolute bottom-3 right-3 p-3 bg-white bg-opacity-50 rounded-lg">
                <svg class="js-geomicon geomicon" width="14" height="14" data-icon="camera" viewBox="0 0 32 32" style="fill:currentcolor"><title>camera icon</title><path d="M0 6 L8 6 L10 2 L22 2 L24 6 L32 6 L32 28 L0 28 z M9 17 A7 7 0 0 0 23 17 A7 7 0 0 0 9 17"></path></svg>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% else %}
      <img 
        class="view w-full h-full object-cover" 
        src="{{ site.baseurl }}/images/default.jpg"
        alt="{{ page.title }}">
    {% endif %}

  </div>

  <article class="post-content p-8 md:p-12 flex flex-col gap-12 h-full md:overflow-scroll mb-24">

<!-- call up the main recipe title and content -->
  <header class="recipe-header flex flex-col gap-6 md:pt-16">
    <h1 class="recipe-title font-gelica text-primary text-left text-5xl lg:text-7xl font-bold" itemprop="name">{{ page.title }}</h1>

    <div class="tags flex gap-2">
      {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/search?tag={{ tag }}" class="tag py-1 px-3 bg-red-200 rounded-lg text-red-900 hover:scale-110 hover:rotate-2 transition hover:bg-primary hover:text-white">
          {{ tag | strip }}
        </a>
      {% endfor %}
    </div>

    <div class="text-left text-lg leading-loose [&>*]:mb-6 [&_a]:underline [&_a]:decoration-[3px] [&_a]:decoration-primary [&_a]:underline-offset-2" itemprop="description">{{page.content}}</div>

  </header>

  {% if page.nutrition %}
  <div class="nutrition">
      {% include nutritional-information.html %}
  </div>
  {% endif %}

  <!-- call up recipe and directions -->
  <div class="">

    <div class="">
      <!-- check if it's a component-based recipe -->
      {% if page.components %}
      <h4 class="uppercase text-primary font-semibold mb-2">{{ site.translation[site.language].components }}</h4>
      <ul class="flex flex-col gap-3 mb-8">
        <!-- list components that make up recipe -->
        {% for component in page.components %}
        <li class="flex gap-3 items-start text-lg leading-loose">
          {% if component.name %}
            <p>{{ component.servings | default: 1 }}x {{ component.name }}</p>
          {% else %}
            <p>{{ component }}</p>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if page.ingredients %}
      <div class="flex items-center justify-between mb-4">
        <h2 class="uppercase text-primary font-semibold">{{ site.translation[site.language].ingredients }}</h2>
        <div class="flex items-center gap-3 bg-orange-50 rounded-lg p-2">
          <button id="decrease-servings" class="w-8 h-8 flex items-center justify-center bg-white rounded hover:bg-primary hover:text-white transition">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
              <path fill-rule="evenodd" d="M4.25 12a.75.75 0 0 1 .75-.75h14a.75.75 0 0 1 0 1.5H5a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
            </svg>
          </button>
          <span class="font-semibold min-w-[60px] text-center">
            <span id="current-servings">{{ page.servings | default: 4 }}</span> Portionen
          </span>
          <button id="increase-servings" class="w-8 h-8 flex items-center justify-center bg-white rounded hover:bg-primary hover:text-white transition">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
              <path fill-rule="evenodd" d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>
      
      <ul itemprop="recipeIngredient" class="flex flex-col gap-2 mb-8" data-original-servings="{{ page.servings | default: 4 }}">
        {% for ingredient in page.ingredients %}
        <li class="flex items-start gap-3 text-lg leading-loose ingredient-item" data-ingredient="{{ ingredient }}">
          <span class="ingredient-display">{{ ingredient | replace: '|', ' ' | markdownify }}</span>
        </li>
        {% endfor %}
      </ul>
      {% endif %}

    </div>

    <div class="sm-col sm-col-6 lg-col-6">
      <h2 class="uppercase text-primary font-semibold mb-2">{{ site.translation[site.language].directions }}</h2>
      <ul itemprop="recipeInstructions" class="flex flex-col gap-3 mb-8">
        {% for direction in page.directions %}
        <li class="flex gap-3 items-start text-lg leading-loose">{{ direction | markdownify }}</li>
        {% endfor %}
      </ul>
    </div>

  </div>
<!-- end recipe and directions -->

<!-- check if it's a component-based recipe, render it -->
  {% if page.components %}

  <div class="components">
    &darr; {{ site.translation[site.language].component_based }} &darr;
  </div>

  <div class="flex flex-col gap-12">
  {% for component in page.components %}
    {% assign component_name = component.name | default: component %}
    {% assign component_servings = component.servings | default: 1 %}
    
    {% for recipe in site.components %}
    {% if recipe.title == component_name %}
      <div class="component-recipe pt-8" data-required-servings="{{ component_servings }}">
        <h4 class="font-gelica text-3xl mb-6">{{recipe.title}} <span class="text-xl text-gray-600">({{ component_servings }}x benötigt)</span></h4>

        {% if recipe.image %}
          {% if recipe.image contains ".jpg" or recipe.image contains ".jpeg" or recipe.image contains ".png" or recipe.image contains ".webp" or recipe.image contains ".gif" or recipe.image contains ".avif" %}
          <div class="image ratio bg-cover relative mb-8" style="background-image:url('{{ site.baseurl }}/images/{{ recipe.image }}');">
            <img class="hide" itemprop="photo" src="{{site.baseurl}}/images/{{ recipe.image }}" />
            {% if recipe.imagecredit %}
              {% for imagecredit in recipe.imagecredit %}
                <a href="{{ imagecredit }}" class="absolute bottom-3 right-3 p-3 bg-white bg-opacity-50 rounded-lg">
                  <svg class="js-geomicon geomicon" width="14" height="14" data-icon="camera" viewBox="0 0 32 32" style="fill:currentcolor"><title>camera icon</title><path d="M0 6 L8 6 L10 2 L22 2 L24 6 L32 6 L32 28 L0 28 z M9 17 A7 7 0 0 0 23 17 A7 7 0 0 0 9 17"></path></svg>
                </a>
              {% endfor %}
            {% endif %}
          </div>
          {% else %}
            {% for image in recipe.image %}
            <div class="image ratio bg-cover relative mb-8" style="background-image:url('{{ site.baseurl }}/images/{{ image }}');">
              <img class="hide" itemprop="photo" src="{{site.baseurl}}/images/{{ image }}" />
              {% if recipe.imagecredit %}
                {% for imagecredit in recipe.imagecredit %}
                  <a href="{{ imagecredit }}" class="absolute bottom-3 right-3 p-3 bg-white bg-opacity-50 rounded-lg">
                    <svg class="js-geomicon geomicon" width="14" height="14" data-icon="camera" viewBox="0 0 32 32" style="fill:currentcolor"><title>camera icon</title><path d="M0 6 L8 6 L10 2 L22 2 L24 6 L32 6 L32 28 L0 28 z M9 17 A7 7 0 0 0 23 17 A7 7 0 0 0 9 17"></path></svg>
                  </a>
                {% endfor %}
              {% endif %}
            </div>
            {% endfor %}
          {% endif %}
        {% endif %}
        {% unless recipe.image %}
        <div class="image ratio bg-cover relative mb-8" style="background-image:url('{{ site.baseurl }}/images/default.jpg');">
          <img class="hide" itemprop="photo" src="{{site.baseurl}}/images/default.jpg" />
        </div>
        {% endunless %}

        {% if recipe.ingredients %}
        <div class="flex items-center justify-between mb-4">
          <h2 class="uppercase text-primary font-semibold">{{ site.translation[site.language].ingredients }}</h2>
          <div class="flex items-center gap-3 bg-orange-50 rounded-lg p-2">
            <button class="decrease-component-servings w-8 h-8 flex items-center justify-center bg-white rounded hover:bg-primary hover:text-white transition">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M4.25 12a.75.75 0 0 1 .75-.75h14a.75.75 0 0 1 0 1.5H5a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
              </svg>
            </button>
            <span class="font-semibold min-w-[60px] text-center">
              <span class="current-component-servings">{{ recipe.servings | default: 4 | times: component_servings }}</span> Portionen
            </span>
            <button class="increase-component-servings w-8 h-8 flex items-center justify-center bg-white rounded hover:bg-primary hover:text-white transition">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>
        </div>

        <ul class="ingredients flex flex-col gap-2 mb-8" itemprop="ingredients" data-original-servings="{{ recipe.servings | default: 4 }}" data-base-servings="{{ recipe.servings | default: 4 | times: component_servings }}">
          {% for item in recipe.ingredients %}
          <li itemprop="ingredient" class="flex items-start gap-3 text-lg leading-loose component-ingredient-item" data-ingredient="{{ item }}">
            <span class="component-ingredient-display">
              {% assign parts = item | split: '|' %}
              {% if parts.size > 1 %}
                {% assign amount = parts[0] | times: 1.0 | times: component_servings %}
                {{ amount }} {{ parts[1] | strip }} {% if parts[2] %}{{ parts[2] | strip }}{% endif %}
              {% else %}
                {{ item }}
              {% endif %}
            </span>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

        <h2 class="uppercase text-primary font-semibold mb-2">{{ site.translation[site.language].directions }}</h2>
        <ul itemprop="instructions" class="flex flex-col gap-3 mb-8">
          {% for item in recipe.directions %}
          <li class="flex gap-3 items-start text-lg leading-loose">{{ item | markdownify }}</li>
          {% endfor %}
        </ul>
      </div>

    {% endif %}
    {% endfor %}
  {% endfor %}
  </div>

  {% endif %}
<!-- end components -->

  {% for category in page.categories %}
    <p class="clearfix">{{ site.translation[site.language].category }}: <span itemprop="recipeCategory">{{ category }}</span></p>
  {% endfor %}

  </article>

</div>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    const container = document.querySelector(".post-content");
    
    // Main Recipe Servings Calculator
    const mainOriginalServings = parseInt(document.querySelector("ul[data-original-servings]")?.getAttribute("data-original-servings")) || 4;
    let mainCurrentServings = mainOriginalServings;

    function updateServings(newServings) {
      if (newServings < 1) return;
      
      mainCurrentServings = newServings;
      document.getElementById("current-servings").textContent = mainCurrentServings;
      
      const multiplier = mainCurrentServings / mainOriginalServings;
      
      document.querySelectorAll(".ingredient-item").forEach(function(item) {
        const original = item.getAttribute("data-ingredient");
        const parts = original.split("|");
        
        if (parts.length > 1) {
          const amount = parseFloat(parts[0]);
          const newAmount = (amount * multiplier).toFixed(2).replace(/\.?0+$/, '');
          const rest = parts.slice(1).join(" ");
          const newText = `${newAmount} ${rest}`;
          
          item.querySelector(".ingredient-display").innerHTML = newText;
          
          // Update data-content attribute for strikethrough effect
          const label = item.querySelector(".recipe-label");
          if (label) {
            label.setAttribute("data-content", newText.trim());
          }
        }
      });
    }

    document.getElementById("decrease-servings")?.addEventListener("click", function() {
      updateServings(mainCurrentServings - 1);
    });

    document.getElementById("increase-servings")?.addEventListener("click", function() {
      updateServings(mainCurrentServings + 1);
    });

    // Component Servings Calculators
    document.querySelectorAll(".component-recipe").forEach(function(componentDiv) {
      const ingredientsList = componentDiv.querySelector("ul[data-original-servings]");
      if (!ingredientsList) return;
      
      const originalServings = parseInt(ingredientsList.getAttribute("data-original-servings")) || 4;
      const baseServings = parseInt(ingredientsList.getAttribute("data-base-servings")) || originalServings;
      const requiredMultiplier = parseInt(componentDiv.getAttribute("data-required-servings")) || 1;
      let currentServings = baseServings;
      
      const decreaseBtn = componentDiv.querySelector(".decrease-component-servings");
      const increaseBtn = componentDiv.querySelector(".increase-component-servings");
      const servingsDisplay = componentDiv.querySelector(".current-component-servings");
      
      function updateComponentServings(newServings) {
        if (newServings < 1) return;
        
        currentServings = newServings;
        servingsDisplay.textContent = currentServings;
        
        const multiplier = currentServings / originalServings;
        
        componentDiv.querySelectorAll(".component-ingredient-item").forEach(function(item) {
          const original = item.getAttribute("data-ingredient");
          const parts = original.split("|");
          
          if (parts.length > 1) {
            const amount = parseFloat(parts[0]);
            const newAmount = (amount * multiplier).toFixed(2).replace(/\.?0+$/, '');
            const rest = parts.slice(1).join(" ");
            const newText = `${newAmount} ${rest}`;
            
            item.querySelector(".component-ingredient-display").innerHTML = newText;
            
            // Update data-content attribute for strikethrough effect
            const label = item.querySelector(".recipe-label");
            if (label) {
              label.setAttribute("data-content", newText.trim());
            }
          }
        });
      }
      
      decreaseBtn?.addEventListener("click", function() {
        updateComponentServings(currentServings - originalServings);
      });
      
      increaseBtn?.addEventListener("click", function() {
        updateComponentServings(currentServings + originalServings);
      });
    });

    // Custom Checkbox Styling
    document.querySelectorAll("ul li").forEach(function(li) {
      const textContent = li.textContent.trim();
      
      const checkbox = document.createElement("input");
      checkbox.type = "checkbox";
      checkbox.className = "recipe-checkbox";
      checkbox.id = "cb-" + Math.random().toString(36).substr(2, 9);
      
      const label = document.createElement("label");
      label.htmlFor = checkbox.id;
      label.className = "recipe-label";
      label.setAttribute("data-content", textContent);
      label.innerHTML = li.innerHTML;
      
      li.innerHTML = "";
      li.appendChild(checkbox);
      li.appendChild(label);

      // Scroll on check
      checkbox.addEventListener("change", function() {
        if (this.checked) {
          const height = li.offsetHeight;
          const y = container.scrollTop;
          container.scrollTo({ top: y + height + 16, behavior: "smooth" });
        }
      });
    });
  });
</script>

<style>
  .recipe-checkbox {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    min-width: 1.5em;
    color: #363839;
    border: 2px solid #bdc1c6;
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
    margin-right: 0.75rem;
    margin-top: 0.25rem;
  }
  
  .recipe-checkbox::before {
    position: absolute;
    content: '';
    display: block;
    top: 2px;
    left: 7px;
    width: 8px;
    height: 14px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }
  
  .recipe-checkbox:checked {
    color: #fff;
    border-color: #F53200;
    background: #F53200;
  }
  
  .recipe-checkbox:checked::before {
    opacity: 1;
  }
  
  .recipe-checkbox:checked ~ .recipe-label::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  
  .recipe-label {
    position: relative;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 400;
    user-select: none;
    flex: 1;
  }
  
  .recipe-label::before {
    position: absolute;
    content: attr(data-content);
    color: #9c9e9f;
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: #363839;
    transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
</style>